#tasmap {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 180px;
  opacity: 0.25;
  transition: opacity 0.3s ease;
  filter: drop-shadow(0 0 6px #000);
}

#tasmap:hover {
  opacity: 0.9;
}

#tasmap img {
  width: 100%;
  pointer-events: none;
}
