body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
}

.crosshair {
    position: absolute;
    background-color: red;
    z-index: 10;
}

.crosshair.vertical {
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    transform: translateX(-50%);
}

.crosshair.horizontal {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    transform: translateY(-50%);
}
